<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MarketShopEntities" connectionString="metadata=res://*/Model.DataBase.csdl|res://*/Model.DataBase.ssdl|res://*/Model.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=overlay\SQLSER;initial catalog=MarketShop;integrated security=True;multiple active result sets=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MarketShopEntities" connectionString="metadata=res://*/Model.DataBase.csdl|res://*/Model.DataBase.ssdl|res://*/Model.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.6.141;initial catalog=MarketShop;persist security info=True;user id=prog14;password=passprog14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>